APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:cJdOs7NMW7teUYRwcOPqq3t0GWPrCbDfD5+H3HhXQng=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=driveme
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

CLOUDINARY_URL=cloudinary://227224524764967:X7Ns2H6We1K6Xs3kSoqdPJ0sj_c@festusyumanew
PAYSTACK_SECRET_KEY=sk_test_3b2ff018bb00c85bbf3bd3ed91d830947218f098

TWILIO_AUTH_TOKEN=26648a4c7ce6443fef6ae202e4c06461
TWILIO_NUMBER=+12067373681
TWILIO_SID=AC4347b0863412176347f92d121acf4831
