//

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
}

a {
    color: #1d1d1d;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

.text-primary {
    color: #20ADF2!important;
}

.navbar {
    padding: 2em 5rem;
    background: #ffffff;
    .navbar-brand {
        img {
            width: 180px;
        }
    }
}

#app-content {
    padding: 0 5em;
}

.form-group.custom {
    margin-bottom: 2.5rem;
    margin-top: auto;
    label {
        font-weight: normal;
        font-family: Roboto, sans-serif;
        color: #062230;
    }
}

.btn.btn-custom-primary-outline {
    border: 2px solid #20ADF2;
    color: #20ADF2;
    padding: 0.5em 2.5em;

    :hover {
        border-color: #20ADF2;
    }
}

.btn.btn-custom-primary {
    border: 2px solid #20ADF2;
    background: #20ADF2;
    color: #ffffff;
    padding: 0.5em 2.5em;

    :hover {
        border-color: #20ADF2;
    }
}

.form-control:focus, :active {
    outline: none;
    box-shadow: none;
    border-color: #22AEF0;
}

.input-custom-primary {
    border: 1px solid #22AEF0;
    padding: 1.5rem 1rem;
}

#login-section, #register-section {
    height: 100%;
    background-size: cover;
    background: url("/img/car_background.png") no-repeat right center;
    background-size: 35rem;
}

#login-button, #register-button {
    button {
        width: 100%;
    }
}

.dv-image-input {
    .input-label {
        width: 100%;
        padding-top: 75%;
        border: 1px solid #22AEF0;
        border-radius: 0.5rem;
        background: url("/img/image_upload_background.png") no-repeat center;
        background-size: 50%;
    }

    input[type='file'] {
        display: none;
    }
}
