@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300,400,500,600,700,800,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
}

a {
    color: #1d1d1d;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

.text-primary {
    color: #20ADF2!important;
}

.navbar {
    padding: 2em 5rem;
    background: #ffffff;
    .navbar-brand {
        img {
            width: 180px;
        }
    }
}

#app-content {
    padding: 0 5em;
}

.form-group.custom {
    margin-bottom: 2.5rem;
    margin-top: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    label {
        font-weight: normal;
        font-family: Roboto, sans-serif;
        color: #062230;
    }
}

.btn.btn-custom-primary-outline {
    border: 2px solid #20ADF2;
    color: #20ADF2;
    padding: 0.5em 2.5em;

    :hover {
        border-color: #20ADF2;
    }
}

.btn.btn-custom-primary {
    border: 2px solid #20ADF2;
    background: #20ADF2;
    color: #ffffff;
    padding: 0.5em 2.5em;

    :hover {
        border-color: #20ADF2;
    }
}

.btn.btn-custom-warning {
    border: 2px solid #F9AA29;
    background: #F9AA29;
    color: #ffffff;
    padding: 0.5em 2.5em;

    :hover {
        border-color: #ffae1a;
    }
}

.form-control:focus, :active {
    outline: none;
    box-shadow: none;
    border-color: #22AEF0;
}

.input-custom-primary {
    border: 1px solid #22AEF0;
    padding: 1.5rem 1rem;
}

.input-custom-primary:disabled, .input-custom-primary[readonly] {
    background-color: #ffffff;
    opacity: 1;
}

.custom-select.input-custom-primary {
    height: auto;
    padding: .75rem 1.75rem .75rem 1rem;
}

#auth-section {
    height: 100%;
}

#login-button, #register-button {
    button {
        width: 100%;
    }
}

.dv-image-input {
    .input-label {
        width: 100%;
        padding-top: 56.25%;
        border: 1px solid #22AEF0;
        border-radius: 0.5rem;
        background-image: url("/img/image_upload_background.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
    }

    .input-label.passport-placeholder {
        background-color: #20ADF2;
        background-image: url("/img/user.png");
        padding-top: 100%;
        border-radius: 50%;
    }

    input[type='file'] {
        display: none;
    }
}

.input-group.right {
    input {
        border-right: none;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .input-group-text {
        background: #ffffff;
        border: 1px solid #22AEF0;
        border-left: none;
    }
}

.input-group.left {
    input {
        border-left: none;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    .input-group-text {
        background: #ffffff;
        border: 1px solid #22AEF0;
        border-right: none;
    }
}

.dv-custom-select  {
    .input-value {display: none;}
    .dropdown-toggle {
        color: rgba(6, 34, 48, 0.53);
        border: 1px solid #20ADF2;
        padding: .75rem 1rem;
        width: 20rem;
        text-align: left;
        display: flex;
        align-items: center;

        .caret {
            color: #20ADF2;
            margin-left: auto;
        }
    }

    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-toggle:active, .dropdown-toggle:focus, .dropdown-toggle:hover {
        box-shadow: none;
        border: 1px solid #20ADF2;
        color: rgba(6, 34, 48, 0.53);
    }
}
