.nav {
    padding: 2rem 5rem;
    .app-logo {
        width: 10rem;
    }
}

#auth-content {
    #auth-intro {
        background-image: url("/img/auth_background.png");
        background-size: contain;
        position: relative;
        background-attachment: fixed;
        background-repeat: no-repeat;

        .shade {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(6, 34, 48, 0.67);
        }

        .nav {
            position: relative;
            z-index: 1;
        }
    }

    #form-into {
        margin-bottom: 2rem;
    }
}
