
body {
    height: 100%;
}
.sidenav {
    width: 25rem;
    background: #20ADF2;
    height: 100%;
    transition: width .5s;
    position: relative;
}
.sidenav.hide {
    width: 0;
}

#dashboard-content {
    background: #F8F9FA;
    #top-nav {
        padding: 1rem 0.5rem;
        .dropdown-toggle {
            background: #ffffff;
            color: #808B93;
            border: none;
            padding: 1rem;
            font-weight: bold;

            #username-icon {
                background: #021827;
                color: #ffffff;
                border-radius: 50%;
                padding: 0.5rem;
                margin-right: 0.25rem;
            }
        }
        .dropdown-toggle:active, .dropdown-toggle:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }
    }
}

#logo {
    text-align: center;
    padding: 2rem 0.5rem;

    img {
        width: 60%;
    }
}

#menu-items {
    margin-top: 2.5rem;
    overflow-y: auto;

    .menu-item {
        padding-left: 20%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        display: flex;
        flex-direction: row;
        color: #ffffff;

        .menu-item-icon {
            height: 1.5rem;
            margin-right: 0.75rem;
        }

        p {
            margin-bottom: 0;
        }
    }

    .menu-item:hover {
        background: rgba(32, 173, 242, 0.04);
        cursor: pointer;
    }

    .menu-item.active {
        background: #ffffff;
        color: #20ADF2;
    }
}

.content {
    background: #ffffff;
    .title {
        color: #20ADF2;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }
}

.dashboard-divider {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#details {
    text-align: center;
    padding: 2rem;

    .passport {
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        background: #f8f8f8;
        margin: 0 auto 1.5rem;
    }

    #name {
        color: #062230;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
    }

    #location {
        color: #2c424e;
        font-size: 16px;
        line-height: 24px;
    }

    #rating, #verification-status {
        .title {
            font-size: 14px;
            line-height: 21px;
            color: #062230;
        }
    }

    #verification-status {
        text-align: center;
        #get-verified-text {
            font-size: 20px;
            line-height: 30px;
            width: 50%;
            margin: 0 auto 2rem;
        }
    }
}
