.nav {
  padding: 2rem 5rem;
}

.nav .app-logo {
  width: 10rem;
}

#auth-content #auth-intro {
  background-image: url("/img/auth_background.png");
  background-size: contain;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#auth-content #auth-intro .shade {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(6, 34, 48, 0.67);
}

#auth-content #auth-intro .nav {
  position: relative;
  z-index: 1;
}

#auth-content #auth-intro #auth-intro-text {
  position: relative;
  z-index: 1;
  color: #ffffff;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 10rem;
}

#auth-content #form-into {
  margin-bottom: 2rem;
}

