#login-section {
  height: 100%;
  background-size: cover;
  background: url("/img/car_background.png") no-repeat right center;
  background-size: 35rem;
}

#login-button button {
  width: 100%;
}

#car-background {
  position: absolute;
  right: 5rem;
  height: 20rem;
  width: 20rem;
}

